@import '~src/foundation';
:host {
  @include host-default();
  grid-gap: 20px;
  grid-template:
    ' container container '
    ' category-card quickstart-card '
    / 2fr 1fr;
  place-items: center;
}

.logo-container {
  grid-area: container;
  width: 100%;
  background-image: url('../../assets/img/brick.jpg');
}

h1 {
  float: right;
  font-family: $marker-font;
  color: #fff;
}

.category-card {
  grid-area: category-card;
  display: grid;
  place-items: center;

  ul {
    columns: 2;
    list-style: none;
    padding: 5px;
  }

  h1 {
    float: right;
    font-family: $marker-font;
    color: #fff;
  }

  button {
    border: none;
    background: transparent;
    font-family: $regular-font;
    font-size: 1.2rem;
    color: $trivia-blue-color;
    cursor: pointer;
  }
}

.quickstart-card {
  grid-area: quickstart-card;

  h1 {
    font-family: $regular-font;
    font-size: 1.2rem;
    padding: 10px;
  }
}
